/*____________________________________ RESET ____________________________________*/
@use "settings" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 100%;

  line-height: 1.15;

  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  margin: 0;

  font-family: $font-primary;
  color: $color-text;

  background-color: $color-background;

  transition:
    color $transition-slow,
    background-color $transition-slow;

  &.darkmode {
    color: $color-dark-text;

    background-color: $color-dark-background;
  }
}

button,
input {
  font: inherit;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
}

b,
strong {
  font-weight: 700;
}

img,
svg {
  display: block;
}

fieldset {
  padding: 0;
  margin: 0;

  border: 0;
}

.sr-only {
  width: 1px;
  height: 1px;
  padding: 0;
  position: absolute;
  margin: -1px;

  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0, 0, 0, 0);
}

:focus-visible {
  outline: 3px solid $color-focus;
  outline-offset: 4px;
}
