@import "_imports.scss";
@import "_usefool.scss";
@import "_reset.scss";
@import "_animations.scss";
@import "_components.scss";

// Body

html,
body {
  width: 100%;
  height: 100%;

  background: repeating-linear-gradient(
      to right,
      transparent 0 calc(35px - 1px),
      rgba($ebony, 0.025) calc(35px - 1px) 35px
    ),
    repeating-linear-gradient(
      to bottom,
      transparent 0 calc(35px - 1px),
      rgba($ebony, 0.025) calc(35px - 1px) 35px
    );
}

.wrapper {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  animation: fadeIn ease-in 1s;
  animation-fill-mode: backwards;
}

// Topbar & Footer

.topbar,
.footer {
  padding: 15px;

  display: flex;
}

.topbar {
  margin-bottom: 1rem;
  align-items: center;

  @media screen and (min-width: $md-min) {
    margin-bottom: 3rem;
  }
}

.footer {
  margin-top: 1rem;
  align-items: flex-end;

  @media screen and (min-width: $md-min) {
    margin-top: 3rem;
  }
}

.sitename {
  @media screen and (min-width: $md-min) {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }

  font-size: 1.2rem;
}

.btn#darkmode {
  margin-left: auto;
}

.credits {
  min-width: 110px;
  margin-left: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

// Content

#content {
  padding-right: 15px;
  padding-left: 15px;

  font-family: $secondary-font;
  font-size: 3.2rem;
  text-align: center;

  opacity: 1;

  transition: opacity ease 250ms;

  .transition & {
    opacity: 0;
  }

  @media screen and (min-width: $md-min) {
    font-size: 4.2rem;
  }
}

.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.button-container {
  text-align: center;

  @media screen and (max-width: $md-min) {
    margin-top: 2rem;
  }

  .btn {
    margin: 0.4rem;
  }
}

.settings {
  @media screen and (min-width: $md-min) {
    display: flex;
    flex-wrap: wrap;
  }
}
